<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SourceDrive" value="Z:\"/>
		<add key="TargetDrive" value="H:\"/>
		
		<add key="DataFileExt" value="dmp"/>
		<add key="LogFileExt" value="log"/>
		<add key ="HourFormat" value="12-00"/>
		<add key="Prefix" value="backupweb"/>
	</appSettings>
</configuration>